body{
    height: 100vh;
    text-align: center;
   overflow: hidden;
}
.main-container{
    width: 800vw;
    display: flex;
    justify-content: center;
    align-items: center;
  
   
}

.slide-container{
    width: 2100px;
   height: 100vh;
 
   }
h1{
    text-decoration: dotted;
    
}
