body{
    height: 100vh;
    text-align: center;
   overflow: hidden;
}
.main-container{
    width: 500vw;
    display: flex;
    justify-content: center;
    align-items: center;
  
   
}

.slide-container{
    width: 700vw;
   height: 100vh;
border: 10px solid;
   }
h1{
    text-decoration: dotted;
    
}