body{
    height: 100vh;
    text-align: center;
   
}
.main-container{
    width: 600vw;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.slide-container{
    width: 2000px;
   height: 100vh;
   border: 2px solid black;
   }
h1{
    text-decoration: dotted;
    
}
